#container{
    width: 1000px;
    height: 400px;
    background-color:rgb(51, 92, 228);
    margin: 80px auto;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item-one{
    width: 150px;
    height: 150px;
    background-color: green;
    margin: 5px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-size: 25px;
}
 